@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");

.log_container {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  background: url("../../images/mentorImg.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Nixie One", cursive, sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 53, 102, 1);
}

.bg,
.login_signup_form {
  position: absolute;
  height: 40em;
  width: 30%;
  transition-duration: 1s;
  transform-style: preserve-3d;
  text-align: center;
}

.bg {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(0, 53, 102, 1);
  overflow: hidden;
}

.bg-item {
  position: absolute;
  width: 50%;
  height: 150%;
  top: 20%;
}

.bg-item:nth-child(1) {
  background-color: rgba(0, 53, 102, 0.8);
  width: 80%;
  left: -10%;
  rotate: -45deg;
}
.bg-item:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.8);
  left: -10%;
  rotate: 80deg;
}
.bg-item:nth-child(3) {
  background-color: rgba(0, 53, 102, 1);
  width: 80%;
  left: 65%;
  top: -0.5%;
  rotate: 45deg;
}
.bg-item:nth-child(4) {
  background-color: rgba(0, 53, 102, 0.8);
  left: -40%;
  top: -80%;
  rotate: 70deg;
}

.signup {
  transform: rotateY(-180deg);
}

.svg {
  height: 50px;
  width: 50px;
  margin-top: 8%;
}

.user path {
  fill: rgba(0, 53, 102, 1);
}

.banner,
.input,
.select,
.btn {
  color: rgba(0, 53, 102, 1) !important;
}

.banner {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2em;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: none;
}

.input,
.select {
  width: 80%;
  background-color: rgb(232, 240, 254, 0.7) !important;
  border: none;
  border-radius: 50px;
  margin-bottom: 1em;
  font-family: "Nixie One", cursive, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 1.8px;
  text-align: center;
  padding: 10px;
}

.input:focus,
.select:focus {
  background-color: transparent;
  outline: 1px solid rgba(0, 53, 102, 1);
}

.select option {
  padding: 3px;
  color: black;
  font-weight: 600;
}

#login_password,
#confirm_password {
  margin-bottom: 0;
}

.h4 {
  color: white;
}

.h4 span {
  text-decoration: none;
  color: #eeba0b;
  font-size: 1.5em;
  cursor: pointer;
}

.h4 span:hover {
  color: white;
}

.btn {
  width: 100px;
  height: 40px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgba(248, 249, 250, 0.5);
  border: none;
  box-shadow: 0 0 25px rgba(0, 53, 102, 1);
  font-size: 1.2em;
}

.btn:hover {
  color: white !important;
  background-color: rgba(0, 53, 102, 1);
  box-shadow: 0 0 25px white, 0 0 50px white;
}
.btn-container {
  margin: 20px;
}

.hidden {
  display: none;
}

.flip {
  transform: rotateY(180deg);
}
.check-container {
  margin: 5px;
  padding-top: 10px;
  padding-left: 52px;
  text-align: start;
}
.label {
  color: rgb(246 247 248);
}
input[type="checkbox"] {
  font-size: larger;
}
.label:hover,
input[type="checkbox"]:hover {
  cursor: pointer;
}

@media screen and (max-width: 360px) {
  .login_signup_form,
  .bg {
    width: 100%;
    height: 100%;
    border-radius: 0%;
  }
}
@media screen and (min-width: 361px) and (max-width: 576px) {
  .login_signup_form,
  .bg {
    width: 80%;
  }
}

@media screen and (min-width: 577px) and (max-width: 748px) {
  .login_signup_form,
  .bg {
    width: 60%;
  }
}

@media screen and (min-width: 749px) and (max-width: 992px) {
  .login_signup_form,
  .bg {
    width: 50%;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .login_signup_form,
  .bg {
    width: 40%;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
