@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  /* Primary */

  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  /* Neutral */

  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(226, 16%, 68%);
}

.cardContainer {
  background-color: whitesmoke;
  min-height: 100vh;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
}

.feature {
  font-family: "Poppins", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  position: relative;
  width: 23vw;

  margin: 2rem auto;
  padding: 1em;
  border-radius: 0.75em;
  box-shadow: 5px 5px 20px rgba(0 0 0/0.15);
  text-align: left;
  transition: transform 200ms ease-in;
}
.feature-height {
  height: 30rem !important;
}

.feature:hover {
  transform: scale(1.03);
}

.feature__desc {
  margin-top: 0.5em;
  color: var(--Grayish-Blue);
}

.feature__img {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.message {
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
}

/* separate styling */
.section__title {
  text-align: center;
  position: relative;
  padding: 25px;
  max-width: 100%;
  line-height: 1.5em;
  color: whitesmoke;
  background-color: rgb(66, 147, 253);
}
.section__title h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  font-family: "Poppins", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

.btn-logout {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #990f02 0,
    #e32428 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.btn-logout:focus {
  box-shadow: #d21404 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d21404 0 -3px 0 inset;
}

.btn-logout:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d21404 0 -3px 0 inset;
}

.btn-logout:active {
  box-shadow: #d21404 0 3px 7px inset;
}

.feature-one {
  border-top: 5px solid var(--Cyan);
}

.feature-two {
  border-top: 5px solid var(--Red);
}

.feature-three {
  border-top: 5px solid var(--Orange);
}

.feature-four {
  border-top: 5px solid var(--Blue);
}

.list {
  list-style: none;
  padding-inline-start: 0px;
  margin-bottom: 20px;
}

.list li {
  font-weight: 600;
  color: black;
}

/* CSS */
.btn-apply {
  padding: 0.78em 2.6em;
  border: none;
  outline: none;
  font-size: medium;
  color: rgb(255, 255, 255);
  background: #111;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn-apply:hover {
  cursor: pointer;
}

.btn-apply:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btn-apply:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.btn-applied {
  padding: 0.78em 2.6em;
  border: none;
  outline: none;
  font-size: medium;
  color: rgb(255, 255, 255);
  background: #111;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
}
